extends layout
block meta
	meta(name="keywords", content="viaje, car pooling, seguridad")

block content
	h1 Gente que se quedo sin viajar 
	div(ng-app="me-quede-sin-viajar",class="")
		div(class="row")
			div(class="eight columns")
				div(class="row")
				h2 Ayudemos a 
					strong #{stats.maxCount} 
					span personas a llegar a su casa
			div(class="twelve columns")
				div(class="row")
					h3 La empresa 
						strong #{companyStats.company} 
						span dejo a 
						strong #{companyStats.maxCount} 
						span personas
			div(class="seven columns")
				div(class="row")
					h3 La hora con mas inconvenientes es 
					strong 6 PM

block scripts
