extends layout
block meta
	meta(name="keywords", content="viaje, car pooling, seguridad")

block content
	h1 Gente que se quedo sin viajar 
	div(ng-app="me-quede-sin-viajar",class="")
		div(class="row")
			div(class="eight columns")
				div(class="row")
				h2 Ayudemos a 
					strong personas a llegar a su casa

block scripts
